@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.react-split {
  display: flex !important;
  flex: 1 1 auto !important;
  position: relative !important;
}
.split {
  @apply flex;
  height: calc(100vh - 3.5rem);
}

.react-split > div {
  overflow: hidden !important;
}
.gutter {
  @apply bg-gray-300 hover:bg-blue-500;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color 0.3s;
}

.gutter.gutter-horizontal {
  @apply cursor-col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.gutter.gutter-vertical {
  @apply cursor-row-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}
